<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Set the title of the HTML document -->
    <title>Add Password</title>
</head>
<body>
    <!-- Heading for the Add Password page -->
    <h1>Add Password</h1>
     <!-- Form for adding a new password, with action to "/add_password" and using the POST method -->
    <form action="/add_password" method="post">
        <label for="website">Website:</label>
        <input type="text" name="website" required><br>
        <br>
        <label for="username">Username:</label>
        <input type="text" name="username" required><br>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <!-- Button to trigger the password generation function -->
        <button type="button" onclick="generatePassword()">Generate Password</button><br>
        <br>
        <button type="submit">Save Password</button>
    </form>

    <!-- JavaScript script for password generation -->
    <script>
        // Function to generate a random password
        function generatePassword() {
            // Password generation logic 
            const passwordLength = 12;
            const charset = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%^&*()_-+=";
            let generatedPassword = "";
            for (let i = 0; i < passwordLength; i++) {
                const randomIndex = Math.floor(Math.random() * charset.length);
                generatedPassword += charset.charAt(randomIndex);
            }

            // Set the generated password to the password input
            document.getElementById("password").value = generatedPassword;
        }
    </script>
</body>
</html>
