<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Set the title of the HTML document -->
    <title>Password Manager Dashboard</title>
</head>
<body>
    <!-- Heading for the Password Manager Dashboard page -->
    <h1>Password Manager Dashboard</h1>
    <!-- Button/link to navigate to the "Add Password" page -->
    <a href="/add_password"><button>Add Password</button></a>
    <!-- Button/link to navigate to the "Display Password" page -->
    <a href="/display_password"><button>Display Password</button></a>
</body>
</html>
