<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Manager</title>
</head>
<body>
    <!-- Heading for the Password Manager page -->
    <h1>Password Manager</h1>
    <!-- Form for user authentication -->
    <form action="/authenticate" method="post">
        <label for="User Name">User Name:</label>
        <input type="username" name="username" required>
        <br>
        <br>
        <label for="master_password">Master Password:</label>
        <input type="password" name="master_password" required>
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
